body {
    background-color: #123;

}
#map {
    border: 2px solid #aaa;
    background-color: #bbb;
    cursor: url(images/target.png), auto ;
}
#bird { 
    width: 48px;
    height: 48px;
    background-image: url(images/bird-1.png);
    border: 1px solid transparent;
}
#result {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 100px;
    height: 100px;
    
    margin: 0 auto;
    margin-top: 20px;
    background-color: #bbb;
    text-align: center;
    
}

#result p { 
    margin: 0; 
}